@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

div.wrapper {
  display: flex;
}

div.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.25 ease-in-out;
  background-color: #FFF;
}

#sidebar {
  width: 90px;
  min-width: 90px;
  transition :  all 0.25s ease-in-out;
  background-color: #0f0b19;
  display: flex;
  flex-direction: column;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

#sidebar:not(.expand) .sidebarLogo,
#sidebar:not(.expand) .sidebarLink span{
  display: none;
}

button.toggleBtn {
  width: 30px ;
  height: 30px ;
  color: #FFF;
  border-radius: 0.425rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323c55;
}

#sidebar.expand .sidebarLogo
#sidebar.expand a.sidebarLink span {
  animation: fadeIn .025 ease;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.sidebarLogo a {
  color: #FFF;
  font-size: 1.15rem;
  font-weight : 600;
}

ul.sidebarNav {
  padding: 0.7rem 0;
  flex: 11 auto;
  z-index: 10;
}

a.sidebarLink {
  padding: 0.625rem 1.625rem;
  color: #FFF;
  display: block;
  white-space: nowrap;
  font-weight: 700;
  border-left: 3px solid transparent;
}

.sidebarLink svg ,
.sidebarNavItem svg{
  margin-right: 0.75rem;
}

a.sidebarLink:hover {
  background-color: rgba(255, 255, 255, .075 );
  border-left: 3px solid #3b7ddd;
}

.sidebarNavItem {
  position: relative;
}

#sidebar:not(.expand) .sidebarNavItem .sidebarDropdown{
position: absolute;
top: 0;
left: 90px;
background-color: #0e223b;
padding: 0 ;
min-width: 15rem;
display: none;
}

#sidebar:not(.expand) .sidebarNavItem:hover .has-dropdown + .sidebarDropdown {
  display: block;
  max-height: 15rem;
  width: 100%;
  opacity: 1;
}

#sidebar:not(.expand) .sidebarNavItem .sidebarDropdown {
  left: 130px;
}


/* Error in sidebar dropdown positioning */